@using SportsBook.Models

@{
ViewData["Title"] = "Home Page";
}
@model List<Team>

<p><b><font color="red">LIVE BETTING</font> Coming Soon...</b></p>

    @foreach (var team in Model)
    {
    <div class='media'>
        <div class='media-img'>
            <img class='db media-img-item' src='/images/@team.LogoImage' width='300'>
        </div>
        <div class='media-content'>
            <p class='media-description'>
                @team.FullName
            </p>
            <ul class='media-meta'>
                <li class='media-meta-item'>
                    @team.NumberOfLikes
                    <span class='media-meta-label'>Likes</span>
                </li>
                <li class='media-meta-item'>
                    @team.NumberOfComments
                    <span class='media-meta-label'><a href="/comments/index?teamId=@team.Id">Comments</a></span>
                </li>
            </ul>
        </div>
    </div>
    }